
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
#header {
  position: relative;
  padding: 60px;
  height: 960px;
  text-align: center;
  background: #1abc9c;
  color: white;
  background-image: url(./img/2174887.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#header_roll{
  height: 60px;
  transition: 3s;
}
h1{
  color: #8626ec;
  font: weight 2px;
  
}
/* Style the top navigation bar */
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
  }
  /* Home contact */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
.navbar a:hover {
    background-color: #000;
  }
  
.active {
  --fa-border-color: red;
  }
  
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

/* Fake image, just for this example */
/* .fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
} */

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  background-color: #7252f3c5;    
  width: 15%;
  height: 1000px;
  
}
#icon_expand{
  position: absolute;
  bottom: 5px;
  padding: 7px 12px 7px 13px;
  border-radius: 1px; 
  font-size: 40px;  
  border: 1px solid #ece6e6;
  background-color: #00FFF5;
  color: #000000;
}
input:checked ~#icon_expand{
  -webkit-transform: translateY(850px);
  -ms-transform: translateY(850px);
  transform: translateY(850px);
  transition: 1s; 

}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: #000000c5;
  color: rgb(253, 253, 253);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
label {
  display: inline-block;
  text-align: center;
}
#wifi:checked  ~#iconwifi {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: 0.4s;
  --fa-primary-color: green;

}
#wifi:checked  ~#fa-wifi{
  transition-delay: 0.2s;
  color: #050505;
}
#lock:checked  ~#iconlock {
  color: #949494;
  transition: 0.4s;
  box-shadow: rgb(187, 207, 226) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ba94e2;
}

/* Style the tab content */
.tabcontent {
  /* float: left; */

  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: 500px;
}
.container-item{
  background-color: rgb(255 255 255 / 0%);
  display: flex;
  justify-content: space-between;
  
}
.container{

  display: flex;
  flex-direction: column;
  justify-content: flex-end;


}
.img-livingroom{
  background-image: url(./img/interior-design-with-photoframes-couch.jpg);
  background-size: 100% 100%;
  border-radius: 1em;
  height: 350px;
  width: 400px;
  margin: 40px 10px 10px 60px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.img-kitchen{
  background-image: url(./img/kitchen.jpg);
  background-size: 100% 100%;
  border-radius: 1em;
  height: 350px;
  width: 400px;
  margin: 40px 10px 10px 80px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}


.inside{  
  flex-direction: row;
  flex-basis: 70%;
  height:650px;

}

.item{
  display: flex;
  /* flex-direction: column; */
  background-color: rgb(182, 233, 244);
  justify-content: space-around;;
  flex-wrap: wrap;
  border-radius: 1em;
  margin: 15px 15px 15px 15px;
  align-items: baseline;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}
/*-------------- device bed room ----------------*/
.device-bed-room{
  background-color: #e3f5eecc;
   height: 220px;
   width: 300px;
   border-radius: 6%;
   gap: 5px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   text-align: center;
   margin: 15px 0px 0px 5px;
  /* flex-basis: 30%; */
}

/*-------------- device living room ----------------*/
.device-living-room{
 background-color: #ebf3f0cc;
  height: 230px;
  width: 300px;
  border-radius: 6%;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-align: center;
  margin: 10px auto;
 /* flex-basis: 30%; */
  
}
/* ------------device-kit-chen -----------*/
/*-------------- device bed room ----------------*/
.device-kit-chen{
  background-color: #e3f5ee;
   height: 220px;
   width: 300px;
   border-radius: 6%;
   gap: 5px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   text-align: center;
   margin: 15px 0px 0px 5px;
  /* flex-basis: 30%; */
}

.refrigerator-div{
  width: 300px;
  height: 540px;
  background-color: #e3f5ee;
  border-radius: 6%;
  padding-top: 30px;
  margin: -158px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.item-kit-chen{
  display: flex;
  /* flex-direction: column; */
  flex-direction: column;
  flex-basis: 60%;
  height: 650px;
  background-color: rgb(182, 233, 244);
  justify-content: space-around;;
  flex-wrap: wrap;
  border-radius: 1em;
  margin: 15px 15px 15px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
}
.refrigerator{
  position: relative;
}
.airconditioner{
  background-image:url(./img/airconditioner.png) ;
  background-size: 100% 100%;
  height: 120px;
  width: 140px;
  margin: 0 auto;
}
.refrigerator #status-rf{
  position: absolute;
  top: 35px;
  left: 174px;
  width: 33px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}
#status-rf-active{
  transition: 0.3s;
  position: absolute;
  top: 35px;
  left: 174px;
  width: 33px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-shadow: rgb(9 252 42 / 84%) 0px 4px 12px 0px, rgb(60 64 67 / 15%) 0px 4px 15px 2px;
  background-color: rgb(152 255 155);;
}

.fanrotate{
  display: block;
  width: 130px;
  height: 130px;
  margin: 20px auto;
  background: url(./img/fanrotate.gif);
  background-size: 100%;

}
.fanrotate-stop{
  display: block;
  width: 130px;
  height: 130px;
  margin: 20px auto;
  background: url(./img/fanstatic.PNG);
  background-size: 100%;


}
#fanrotate-stop{
  display: block;
  width: 130px;
  height: 130px;
  margin: 20px auto;
  background: url(./img/fanstatic.PNG);
  background-size: 100%;


}
.active1 {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  background: url(./img/fanstatic.PNG);
  background-size: 100%;
}
input {
	font-size: 35px;
  align-items: center;

/*----Switch button ----- */
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #ccdeda;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;*/}

input:checked + .slider {
  background-color: #2196F3;
  box-shadow: rgba(22, 6, 247, 0.514) 0px 5px 55px, rgba(59, 19, 235, 0.349) 0px -12px 30px, rgba(16, 52, 129, 0.623) 0px 4px 6px, rgba(43, 57, 241, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


  
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

}
.slider.round {
  border-radius: 34px;
  
}

.slider.round:before {
  border-radius: 50%;
  
}
/* --------------- Rounded sliders -------------*/ 

/* ----------temperature 1 --------*/
#CircleSliderId-01 .rs-tooltip  {
  font-size: 15px;
  margin: 10px 10px 10px 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: #000;
}
#CircleSliderId-01 .rs-tooltip div  {
  text-align: center;
  background: rgb(85, 66, 193);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
  margin: 0px 0px 0px 5px;
  
}
.rs-control .rs-handle  {
  background-color: #1417e0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;  
}
#CircleSliderId-01 .rs-bg-color {
  background-color: #000000;
}
 /* #CircleSliderId-01.rs-border  {
  background-color: #050505;
  border-radius: 0;
  margin: 10px auto; */
/* #CircleSliderId-01 .rs-border.rs-inner{
  background-color: #010808;
} */
#CircleSliderId-01 .rs-container{
  box-shadow: 
    0 -10px 5px rgb(85, 138, 236),
    0 10px  10px  rgb(13, 16, 26);
  border-radius: 50%;
  margin: 10px auto;
  border: #000;
}
#CircleSliderId-01 .rs-bg-color{
  background: #030303;
  box-shadow: 
  0 -5px 5px #5a5a5a,
  0 5px  15px  #111;
  border-radius: 50%;
  margin: 10px auto;
}
/* #CircleSliderId-01 .rs-range-color  {
  background-color: #000000;
  stroke-width: 4px;
  border-radius: 0
}  */


/* ---------temperature 2 ----------*/
#CircleSliderId-02 .rs-tooltip  {
  font-size: 15px;
}
#CircleSliderId-02 .rs-tooltip div  { 
  text-align: center;
  background: rgb(85, 66, 193);
  color: white;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
}
#CircleSliderId-02 .rs-handle  {
  background-color: #00FFF5;
  
}
#CircleSliderId-02 .rs-range-color  {
  background-color: #00FFF5;
  stroke-width: 4px;

} 

#CircleSliderId-02.rs-path-color  {
  background-color: #382d5f;
  border-radius: 0;

}
#CircleSliderId-02{
  margin: 5px 0 0 40px;
}
#hum-tem{
  display: flex;
  flex-direction: column;
  
}

/*---- Button LED ----- */
.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	display: inline-flex;
	align-items: center;
	margin: 40px;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
}

/*---- Slider Ngang ----- */
#slider1{

  width: 70%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#slider2{
  border-radius: 34px;
} 
.hum-tem{
  display: flex;
  flex-basis: 40%;
  background-color: rgb(255 252 252 / 94%);
  height: 180px;
  margin: 50px 15px 10px 10px;
  border-radius: 2.5em;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}
/* -------bed room container-----*/
.container-bedroom{
  background-color: #ebe4e4;
  border-radius: 1em;
  height: 650px;
  width: 515px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 17px 1px 0px 22px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.img-bedroom{
  background-image: url(./img/bedroom.jpg);
  background-size: 100% 100%;
  height: 350px;
  width: 400px;
  margin: 20px auto;
  border-radius: 1em;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

}
/* --------------Slide display connect--------------- */
.control-connect-br{
  background-color: #ffffff;
  margin: 5px 10px 10px 10px;
  height: 54px;
  border-radius: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.control-connect-kt{
  background-color: #ffffff;
  margin: 5px 10px 10px 10px;
  height: 54px;
  border-radius: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.control-connect-lr{
  background-color: #ffffff;
  margin: 5px 10px -29px 10px;
  height: 54px;
  border-radius: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
/* ------------------- WIFI---------------- */
/* #wifi{
  
} */
#iconwifi{
  margin: 5px 10px 10px 30px;
  border-radius: 50%;
  padding: 12px 10px 10px 9px;
  border: none;
  align-items: center;
  background-color: #fff;
  /*   */
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  line-height: 1; 
  outline: none;
  /* text-align: center; */
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }
/* #iconwifi:hover {
  background-color: #000;
  transition: 0.3s;
} */
/* input:checked ~#iconwifi{
  transition: 0.4s;
  color: #000;
  background-color: rgb(227 227 227);   
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
} */
#iconco2{
  font-size: 15px;
  margin: 5px 10px 10px 30px;
  border-radius: 1px;
  padding: 3px 12px 10px 10px;
  border: none;
  align-items: center;
  background-color: #fff;
  /*   */
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  line-height: 1; 
  outline: none;
  /* text-align: center; */
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; 
}
#iconhumi{
  font-size: 15px;
  margin: 5px 10px 10px 30px;
  border-radius: 1px;
  padding: 3px 12px 10px 10px;
  border: none;
  align-items: center;
  background-color: #fff;
  /*   */
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  line-height: 1; 
  outline: none;
  /* text-align: center; */
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; 
}
#icon_co2{
  font-size: 30px;
  color: #1417e0;
}
#icon_humi{
  font-size: 30px;
  color: #1417e0;
}
#fa-wifi{
  font-size: 20px; 
  color: rgb(36, 32, 32);
}
#fa-house-lock{
  font-size: 20px; 
  color: rgb(0, 0, 0);
}

/* ------------------- LOCK---------------- */
#iconlock{
  margin: 5px 10px 10px 30px;
  gap: 10px;
  border-radius: 50%;
  padding: 11px 10px 11px 10px;
  border: none;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  justify-content: center;
  line-height: 1; 
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.TV{
  background-image:url(./img/television-tv-png-22246.png) ;
  background-size: 100% 100%;
  height: 120px;
  width: 120px;
  margin: 0 auto;
}
.status-button{
  display: flex;
  justify-content: space-around;
  margin: 5px 0px 0px 0px;
}
#Asmosphere{
  background-color: #00000000;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-weather{
  text-align: center;
}


/* --------clock------------ */
.clock {
  height: 20px;
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: sans-serif;
  line-height: 20.4px;
  display: flex;
  position: relative;
  padding: 4px 6px 24px 9px;
  /*background: green;*/
  overflow: hidden;
  font-weight: 800;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.clock::before, .clock::after {
  width: 7px;
  height: 3px;
  background: linear-gradient(to top, transparent, black);
  position: absolute;
  z-index: 2;
}

.clock::after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, black);
}

.clock > div {
  display: flex;
}

.tick {
  line-height: 17px;
}

.tick-hidden {
  opacity: 0;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
.weatherforecast{
  margin: auto auto;
  width: 90%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.calendar{
  margin-left: 10px;
  font-weight: 100;
  color: #48bfba;
}
